<!DOCTYPE html <html>

<head>
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    <link rel='stylesheet' href="{{url_for('static', filename='main.css')}}">
    <script defer>
        // let hud = document.getElementById('hud')
        // if (hud) { hud.style.display = 'none' }
    </script>
    <script>
        let hud
        function exitHud() {
            hud = document.getElementById('hud')
            hud.style.visibility = 'hidden'
        }


        function keymaps(event) {
            hud = document.getElementById('hud')
            let id = Number(hud.getAttribute('data-result-id'))
            let i = 0
            console.log(`/result/${id - 1}`)
            switch (event.key) {
                case "ArrowLeft":
                    htmx.ajax('GET', `/result/${id - 1}`, {target: '#hud', swap: 'outerHTML'})
                    break
                case "ArrowRight":
                    htmx.ajax('GET', `/result/${id + 1}`, {target: '#hud', swap: 'outerHTML'})
                    break
                case "ArrowDown":
                    hud.scrollBy(0, 100, behaviour = "smooth");
                    break
                case "ArrowUp":
                    hud.scrollBy(0, -100, behaviour = "smooth");
                    break
                case "h":
                    htmx.ajax('GET', `/result/${id - 1}`, {target: '#hud', swap: 'outerHTML'})
                    break
                case "l":
                    htmx.ajax('GET', `/result/${id + 1}`, {target: '#hud', swap: 'outerHTML'})
                    break
                case "j":
                    document.getElementById('hud').scrollBy(0, 50);
                    break
                case "k":
                    document.getElementById('hud').scrollBy(0, -50);
                    break
                case "Space":
                    document.getElementById('hud').scrollBy(0, 120);
                    break
                case "Escape":
                    exitHud();
                    break;
            }
        }
        window.addEventListener("keydown", function (e) {
            if (["Space", "ArrowUp", "ArrowDown"].indexOf(e.code) > -1) {
                e.preventDefault();
            }
        }, false);

        document.addEventListener('keyup', keymaps)
    </script>
</head>

<body>
    <div class="content">
        <div class="table-container">
            <div hx-target='this' hx-swap='innerHTML' hx-get='/summary' hx-trigger='load'>
            </div>
        </div>
        <div id='hud' class='hud'> </div>
    </div>
</body>

</html>
