<!DOCTYPE html <html>

<head>
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    <link rel='stylesheet' href="{{url_for('static', filename='main.css')}}">
    <script>
        function exitHud() {
            let hud = document.getElementById('hud')
            hud.style.visibility = 'hidden'
        }


        function keymaps(event) {
            let hud = document.getElementById('hud')
            let id = Number(hud.getAttribute('data-result-id'))
            let i = 0
            let wellContainer
            switch (event.key) {
                //case "n":
                case "ArrowRight":
                    htmx.ajax('GET', `/result/${id + 1}`, {target: '#hud', swap: 'outerHTML'})
                    break
                //case "p":
                case "ArrowLeft":
                    htmx.ajax('GET', `/result/${id - 1}`, {target: '#hud', swap: 'outerHTML'})
                    break
                case "ArrowDown":
                    hud.scrollBy(0, 100, behaviour = "smooth");
                    break
                case "ArrowUp":
                    hud.scrollBy(0, -100, behaviour = "smooth");
                    break
                    //case "i":
                    hud.scrollBy(0, -100, behaviour = "smooth");
                    break
                //case "q":
                case "Escape":
                    wellContainer = document.getElementById('wells-container')
                    console.log(wellContainer.style.display)
                    if (wellContainer.style.display === 'block') {
                        wellContainer.style.display = 'none'
                    } else {
                        exitHud();
                    }
                    break;
            }
        }

        document.addEventListener('keyup', keymaps)

        function toggleWellContainer(event) {
            wellContainer = document.getElementById('wells-container')
            console.log(wellContainer.style.display)
            if (wellContainer.style.display === 'block') {
                wellContainer.style.display = 'none'
            } else {
                wellContainer.style.display = 'block'
            }
        }

    </script>
</head>

<body>
    <div class="content">
        <div class="table-container">
            <form id='summary-search' hx-target='#summary' hx-get='/summary' hx-swap='innerHTML'
                hx-include='find input'>
                <fieldset>
                    <label>Experiment Number </label>
                    <input type="text" id="experiment-number" name="experiment-number" value="">
                    <label>Ligand</label>
                    <input type="text" id="ligand" name="ligand" value="">
                    <label>Volume</label>
                    <input type="text" id="volume" name="volume" value="">
                    <label for='concentration'>Concentration</label>
                    <input type="text" id="concentration" name="concentration" value="">
                    <button type="submit" value='Go' class='button'> Go </button>
                    <button type="reset" class='btn-reset'> reset </button>
                </fieldset>
            </form>
            <div id='summary' hx-target='this' hx-swap='innerHTML' hx-get='/summary' hx-trigger='load'>
            </div>
        </div>
        <div id='hud' class='hud'> </div>
    </div>
</body>

</html>
